@import "common.scss";

div.letters {
	display: flex;
	justify-content: center;
	font-size: 1.2em;
	font-weight: bold;
}

div.letter a { text-decoration: none; }
div.letters div.letter:after {content: "–";}
div.letters div.letter:last-child:after {content: "";}

h3 a, li a, div.letters div.letter a {
	color: $link_foreground;
}


h4 {
	margin-top: 0.5em;
}

h2 {
	text-align: center;
	margin-top: 0.5em;
}

h3 a {
	text-decoration: none;
}
