/* vim: set wrap breakindent: */

$color1: white;
$color2: #681B26;

$page_background: $color1;

$link_foreground: #681B26;

$header_foreground: $color1;
$header_background: #681B26;

$nav_foreground: black;
$nav_background: #EBECBD;
$nav_link_foreground: #CD072B;

$footer_foreground: black;
$footer_background: #EBECBD;
$footer_link_foreground: #CD072B;

$font_serif: "Linux Libertine", "Times New Roman", Times, serif;
$font_monospace: monospace;

$footnote_normal_foreground: darkgreen;

html, body, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
