@import "common.scss";

html, body {
	background-color: $page_background;
	font-family: $font_serif;
}
a {text-decoration: none;}

header {
	background-color: $header_background;
	color: $header_foreground;
	text-align: center;
	min-height: 100vh;

	h1 {
		font-size: 3em;
		padding-top: 20vh;
	}

	blockquote {
		font-style: italic;
		font-size: 2em;
	}

	a {
		color: $header_foreground;
	}

	a:hover {
		border-bottom: 2px solid $header_foreground;
	}

	div#links {
		padding-top: 1vh;
		font-size: 1.1em;
	}
}

section {
	min-height: 10vh;
	display: flex;

	div.title {
		padding-left: 1em;
		padding-right: 1em;

		a {
			text-align: left;
			font-size: 1.2em;
			color: black;

			span {
				display: none;
			}
		}

		a:hover {
			border-bottom: 5px solid black;
			padding-bottom: 0.5ch;
		}
	}

	div.letter {
		min-width: 10vw;
		text-align: center;
		background-color: $page_background;
		color: darkred;
		font-weight: bold;
		font-size: 2em;
	}

	blockquote.accroche {
		font-style: italic;
		text-align: justify;
		font-size: 1em;
		max-width: 90ch;
		padding-top: 1vh;
		padding-bottom: 1vh;
		padding-left: 2em;
		padding-right: 2em;
		line-height: 1.5em;
		margin: 0;

		span {
			display: none;
		}

		a {
			font-size: 0.9em;
			font-style: normal;
			color: black;
			font-weight: bold;
		}

		a:hover { border-bottom: 1px solid black; }
		a:before { content: "" !important; }
	}

}

article {
	margin: auto;
	max-width: 120ch;

	h2, h3 {
		padding-top: 1vh;
		padding-bottom: 1vh;
		text-align: center;
	}
}


div.pre {
	min-height: 10vh;
	padding-left: 1em;
	padding-right: 1em;
	text-align: justify;
	font-size: 1.1em;
}

section.annex,section.tool {
	min-height: 5vh;
}

span.line { display: block; }

footer {
	background-color: $footer_background;
	color: $footer_foreground;

	a {
		color: $footer_link_foreground;
	}

	div {
		max-width: 120ch;
		margin: auto;
		line-height: 1.5;
		text-align: justify;
		padding-top: 1em;
	}

	div:last-child { padding-bottom: 1em; }
}
