@import "common.scss";

.c_anarchist { color: black; font-weight: bold; }
.c_red, .c_marxist { color: red; }
.c_mutualist { color: orange; font-weight: bold; }
.c_capitalist { background-color: black; color: yellow; }
.c_primitivist, .c_municipalist { background-color: black; color: lightgreen; }
.c_historian, .c_scientist { color: blue; }
.c_feminist { background-color: pink; color: black; }
.c_white { color: black; background-color: white; }
