@import "common.scss";

a.ref {
	font-style: normal;
	font-family: Monaco, Courier, monospace;
	text-transform: uppercase;
}

span.action { font-style: italic; }

p.action, ul { margin-left: 4%; }

p.action { font-style: italic; }

div.letters {
	display: flex;
	justify-content: center;
	font-size: 1.2em;
	font-weight: bold;
}

div.letter a { text-decoration: none; }
div.letters div.letter:after {content: "–";}
div.letters div.letter:last-child:after {content: "";}

h4 { margin-top: 0.5em; }

h2 {
	text-align: center;
	margin-top: 0.5em;
}

h3 a { text-decoration: none; }

h3 a, li a, div.letters div.letter a, main a {
	color: $link_foreground;
}
