/* vim: set wrap breakindent: */

@import "common.scss";

html, body, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: $font_serif;
	background-color: $page_background;
}

header {
	color: $header_foreground;
	background-color: $header_background;

	text-align: center;

	h1 {
		font-size: 3em;
		padding-top: 1vh;
		padding-bottom: 1vh;
	}

	h1 a, h1 a:hover, h1 a:visited {
		color: $header_foreground;
		text-decoration: none;
	}
}

main {
	min-height: 35vh;
}

main h1 {
  margin-top: 0.5em;
  text-align: center;
}

div.goback,
footer div,
aside.translation-warning,
div.sec-toc, div.inline-refs, section {
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}

div.goback, footer div,
div.sec-toc, div.inline-refs, section {
  max-width: 120ch;
}

aside.translation-warning {
  max-width: 100ch;
}

div.sec-toc h6, div.inline-refs h6 {
  font-size: 1.5em;
  margin-top: 0.5em;
}

section p, section blockquote, div.inline-refs li, section li {
  text-align: justify;
  line-height: 1.5;
  word-wrap: break-word;
}

section {
	blockquote.citation_source {
		font-style: italic;

		i {
			font-style: normal;
		}
	}
	blockquote.citation_author {
		font-variant: small-caps;
	}

	p {
		text-indent: 4ch;
	}

	p.first {
		text-indent: 0;
	}
}


aside.translation-warning {
	padding: 1em;
	margin-top: 1em;
	border-radius: 5px;
}
aside.translation-warning.zero { background-color: #DC3545; }
aside.translation-warning.hideous { background-color: #343A40; color: white; }
aside.translation-warning.still { background-color: lightgreen; }

div.sec-toc a {
  color: black;
}

div.sec-toc a:hover {
  color: black;
  text-decoration: underline;
}

.sec-toc a, a.pl, a.iref, a.eref,
a.bookref, div.inline-refs a {
	text-decoration: none;
}

a.iref {
  color: $footnote_normal_foreground;
  font-family: $font_monospace;
}
a.iref:before { content: "["; }
a.iref:after { content: "]"; }

a.idxref {
  text-decoration: underline !important;
  color: black;
}

footer {
	background-color: $footer_background;
	color: $footer_foreground;

	a {
	  color: $footer_link_foreground;
	}

	div {
	  line-height: 1.5;
	  text-align: justify;
	  padding-top: 1em;
	}

	div:last-child {
	  padding-bottom: 1em;
	}
}

.secToc1 a,.secToc2 a {
	text-decoration: none;
	color: black;
}
.secToc1 a:hover,.secToc2 a:hover {
  color: black;
  text-decoration: underline;
}

p.secToc1 { font-size: 1.2em; }
p.secToc2 { margin-left: 2em; }

div.goback {
	text-align: center !important;

	a { color: $link_foreground; }
}

nav {
	background-color: $nav_background;
	color: $nav_foreground;
	padding: 0.5em;

	div.nav {
		display: flex;

		div {
			margin-right: 2ch;
		}
	}

	div.alt-lang a {
		text-decoration: none;
	}

	a, a:visited, a:active {
		color: $nav_link_foreground;
	}
}

div.toReader {
	background-color: $nav_background;
	border-radius: 5px;

	p { text-indent: 0; }

	.messageTitle {
		text-align: center;
		font-weight: bold;
	}
	a { color: $nav_link_foreground; }
}
div.toReader { padding: 0.5em; }

.centered { text-align: center; }
